.class {
    border: 2px solid green;
    display: inline-block;
    max-width: 90%;
    margin: auto;
    margin-left: 25px;
    margin-top: 25px;
}

.border {
    border: 1px dotted brown;
    margin-right: 10px;
    margin-left: 10px;
}

.class img {
    width: 135px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}

p {
    margin-bottom: 10px;
    flex: 1;
}

h1 {
    padding-left: 15px;
    padding-right: 15px;
}
